langchain_core
langchain_openai
langchain_community
langchain-qdrant
qdrant-client
openai
tiktoken
cohere
lxml
protobuf==3.20.3
pymupdf
ragas
chainlit
python-dotenv
langchain==0.0.340  # Use the latest stable version or the version that supports experimental features
langsmith==0.0.63
pydantic>=2.0.0
langchain_experimental